<!-- content -->
<div class="container">
  <h1 class="container__title">Bienvenue sur Bières De Ta Région !</h1>
  <p>Merci d'avoir rejoint notre communauté.</p>
  <p>Cliquez sur le lien ci-dessous pour confirmer votre inscription :</p>
  <a class="container__link" target="_blank" href="<%= link %>">
    Confirmer mon inscription
  </a>
  <p>Si vous n'avez pas initié cette demande, veuillez ignorer cet email.</p>
  <p>Merci,</p>
  <p>Romain Bacque</p>
</div>

<!-- style -->
<style>
  .container {
    color: #4b2911;
  }

  .container__title {
    font-weight: 700;
    font-size: 1.5em;
  }

  .container__link {
    text-transform: capitalize;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #8f5f3d;
    color: white;
  }
</style>
