<!-- content -->
<div class="container">
    <h3 class="container__title">Réinitialisation du mot de passe</h3>
    <p>Bonjour <%= name %>,
    </p>
    <p>
        Une réinitialisation du mot de passe a été demandée pour votre compte.<br>
        Si vous ne l'avez pas demandé, ignorez simplement cet e-mail.
    </p>
    <p>Pour réinitialiser votre mot de passe et en définir un nouveau, veuillez cliquer sur le bouton ci-dessous.
    </p>
    <a class="container__link" href="<%= link %>">
        Réinitialiser votre mot de passe
    </a>
    <p>Ce lien expirera dans 24 heures.</p>
    <p>Meilleures salutations,</p>
    <p>L'équipe Biere De Ta Region</p>
</div>

<!-- style -->
<style>
    .container__title {
        font-weight: 700;
        font-size: 1.5em;
    }

    .container__link {
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #b28646;
        color: white;
    }
</style>